#my-modal{
    position:fixed;
    top:25%;
    z-index:1;
    height:40%;
    background-color: darksalmon;
}

.rowcont{
    
    background-color: teal;
    
}

.saveBlock{
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: tomato;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.notesBlock:hover{
    background-color: aquamarine;
}

.input-group{
    
}